html{
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
*{
   text-decoration: none;
}
.navbar{
    background: #666666;
    font-family: calibri;
    padding: 15px;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 35px;
    font-weight: 600;
    color: white;
}
.nav-list li{
    list-style: none;
    display: inline-block;
}
.nav-list li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 25px;
}
.nav-list a:hover{
    color: rgb(217, 224, 224);
}
/*Style About*/
img{
    width: 100%;
    max-width: 400px;
    object-fit: cover;
    vertical-align: middle;
    
    
}
.about-container{
 padding: 0 15px;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-around;
 gap: 5rem;
 background-color: #fdf6f0;
 margin: 20px;
 
}
.about-text{
    flex: 1;

}
hr{
    width: 75%;
    position: center;
    color:gold;
    
}
/*Style My Projects*/
.projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
#projects h2{
    text-align: center;
}
.project{
    background: white;
    width: 270px;
    height: 400px;
    margin: 10px;
}
.card-image{
    background-color: aqua;
    height: 50%;
    margin-bottom: 15px;
    background-size: cover;
}
.contact-list{
    background-image: url('imgs/IMG_20250814_195254.jpg');
}
.calculator{
    background-image: url('imgs/IMG_20250814_195319.jpg');
}
.zoo-app{
    background-image: url('imgs/IMG_20250814_195052.jpg');
}
.shopping-card{
    background-image: url('imgs/IMG_20250814_201257.jpg');
}
.project h2{
    padding: 10px;
}
.project p{
    padding: 10px;
}
.project a{
    background-color: wheat;
    color: black;
    padding: 10px 15px;
    display: block;
    text-align: center;
    margin-top: auto;
    align-self: flex-start;
    text-decoration: none;
}

.project:hover{
    background-color: rgb(62,62,62);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transform: all 1s ease;
}
/*Skills*/
#skills h2{
    text-align: center;
}
#skills{
    margin: 20px;
    margin-top: 15px;
    background-color: #fdf6f0;
    padding: 15px 20px;
}
.skills-list{
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding: 0;
}
.skills-list li{
display: flex;
align-items: center;
margin-bottom: 1rem;
flex-direction: column;
}
.skills-list img{
    width: 100px;
    margin: 20px;
    
}
footer{
    display: flex;
    background-color: #666666;
    color: white;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}
ul{
    list-style: none;
}
